{% extends 'templates/base.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Create Guide</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{{ path_for('guides.postCreateGuide') }}" method="POST">
                <div class="form-group {% if formErrors['title'] %} has-error {% endif %}">
                    <label class="control-label" for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title" value="{{ prevData.title }}" required="required">
                </div>

                <div class="form-group {% if formErrors['tags'] %} has-error {% endif %}">
                    <label class="control-label" for="tags">Tags (separate with commas)</label>
                    <input type="text" class="form-control" id="tags" placeholder="Tags" name="tags" value="{{ prevData.tags }}" required="required">
                </div>

                <div class="form-group {% if formErrors['content'] %} has-error {% endif %}">
                    <label class="control-label" for="content">Content</label>
                    <textarea class="form-control" id="content" placeholder="Content" name="content" value="{{ prevData.content }}" required="required"></textarea>
                </div>

                <div class="checkbox">
                    <label for="isPublished">
                        <input type="checkbox" name="isPublished" id="isPublished" value="true"> Publish?
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                {{ csrf.fields | raw }}
            </form>
        </div>
    </div>
{% endblock %}
