{% extends 'templates/base.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if type is same as ('create') %}
                <h2>Create Guide</h2>
            {% else %}
                <h2>Edit Guide</h2>
            {% endif %}
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            {% if type is same as ('create') %}
                <form action="{{ path_for('guides.postCreateGuide') }}" method="POST">
            {% else %}
                <form action="{{ path_for('guides.postEditGuide') }}" method="POST">
            {% endif %}
                <div class="form-group {% if formErrors['title'] %} has-error {% endif %}">
                    <label class="control-label" for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title" value="{{ guide.title }}" required="required">
                </div>

                <div class="form-group {% if formErrors['tags'] %} has-error {% endif %}">
                    <label class="control-label" for="tags">Tags (separate with commas)</label>
                    <input type="text" class="form-control" id="tags" placeholder="Tags" name="tags" value="{{ guide.tags }}">
                </div>

                <div class="form-group {% if formErrors['content'] %} has-error {% endif %}">
                    <label class="control-label" for="content">Content</label>
                    <textarea class="form-control" id="content" placeholder="Content" name="content" required="required" rows="25">{{ guide.content }}</textarea>
                </div>

                <div class="checkbox">
                    <label for="isPublished">
                        <input type="checkbox" name="isPublished" id="isPublished" value="1" {% if guide.isPublished is same as (1) %} checked {% endif %}> Publish?
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                {% if guide.id %}<input type="hidden" name="id" value="{{ guide.id }}">{% endif %}
                {{ csrf.fields | raw }}
            </form>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h3>Preview</h3>
            <hr />
            <div class="markdown-preview" id="markdown-preview-dest"></div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ base_url() }}/vendor/showdown/showdown.min.js" type="text/javascript"></script>
<script src="{{ base_url() }}/js/min/markdown-parser-create-edit.min.js" type="text/javascript"></script>
{% endblock %}