{% extends 'templates/base.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Edit Guide</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{{ path_for('guides.postEditGuide') }}" method="POST">
                <div class="form-group {% if formErrors['title'] %} has-error {% endif %}">
                    <label class="control-label" for="title">Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Title" name="title" value="{{ guide.title }}" required="required">
                </div>

                <div class="form-group {% if formErrors['tags'] %} has-error {% endif %}">
                    <label class="control-label" for="tags">Tags (separate with commas)</label>
                    <input type="text" class="form-control" id="tags" placeholder="Tags" name="tags" value="{{ guide.tags }}">
                </div>

                <div class="form-group {% if formErrors['content'] %} has-error {% endif %}">
                    <label class="control-label" for="content">Content</label>
                    <textarea class="form-control" id="content" placeholder="Content" name="content" required="required">{{ guide.content }}</textarea>
                </div>

                <div class="checkbox">
                    <label for="isPublished">
                        <input type="checkbox" name="isPublished" id="isPublished" value="1" {% if guide.isPublished is same as (1) %} checked {% endif %}> Publish?
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

                {% if guide.id %}<input type="hidden" name="id" value="{{ guide.id }}">{% endif %}
                {{ csrf.fields | raw }}
            </form>
        </div>
    </div>
{% endblock %}
